IF EXISTS (SELECT * FROM   sysobjects WHERE  name = N'RANKING_PARAMS_2019')			DROP Table RANKING_PARAMS_2019
CREATE TABLE RANKING_PARAMS_2019 (prim_key int, KPI_NAME varchar(100),G_LEVEL_1 varchar(max), G_LEVEL_2 varchar(max),THRESHOLD_MIN float,THRESHOLD_MED float,THRESHOLD_HGH float, RANKING_MAX float)
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  1, 'CLASSIC_CALL_SETUP_SUCCESS_RATIO',                          'Drive',     'City',                           0.85000,      0.97500,     1.00000,   40.62500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  2, 'CLASSIC_DROPPED_CALL_RATIO',                                'Drive',     'City',                           0.10000,      0.02000,     0.00000,   48.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  3, 'CLASSIC_AVG_CALL_SETUP_TIME',                               'Drive',     'City',                       12.00000,    6.00000,      4.00000,   13.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  4, 'CLASSIC_CALL_SETUP_TIME_BIGGER_15_s_RATIO',   'Drive',      'City',                           0.03000,      0.00600,     0.00000,   10.87500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  5, 'WHATSUP_CALL_SETUP_SUCCESS_RATIO',                          'Drive',     'City',                           0.85000,      0.97500,     1.00000,     9.37500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  6, 'WHATSUP_DROPPED_CALL_RATIO',                                'Drive',     'City',                           0.10000,      0.02000,     0.00000,   11.25000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  7, 'WHATSUP_AVG_CALL_SETUP_TIME',                               'Drive',     'City',                       15.00000,    9.00000,      7.00000,     3.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  8, 'WHATSUP_CALL_SETUP_TIME_BIGGER_15_s_RATIO',   'Drive',      'City',                           0.03000,      0.00600,     0.00000,     2.62500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  9, 'CLASSIC_POLQA_SMALLER_1.6_RATIO',                           'Drive',     'City',                           0.10000,      0.01000,     0.00000,     8.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 10, 'CLASSIC_POLQA_AVG_MOS',                                     'Drive',     'City',                           2.00000,      3.80000,     4.50000,     7.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 11, 'WHATSUP_POLQA_SMALLER_1.6_RATIO',                           'Drive',     'City',                           0.10000,      0.01000,     0.00000,     2.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 12, 'WHATSUP_POLQA_AVG_MOS',                                     'Drive',     'City',                           2.00000,      3.80000,     4.50000,     1.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 13, 'HTTP_TRANSFER_FDFS_DL_SUCCESS_RATIO',                'Drive',     'City',                           0.80000,      0.97500,     1.00000,   20.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 14, 'HTTP_TRANSFER_FDFS_UL_SUCCESS_RATIO',                'Drive',     'City',                           0.80000,      0.97500,     1.00000,   20.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 15, 'HTTP_TRANSFER_FDTT_DL_MDR_P10',                      'Drive',     'City',                           2.00000,      5.00000,   30.00000,   17.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 16, 'HTTP_TRANSFER_FDTT_DL_MDR_AVG',                      'Drive',     'City',                           2.00000,   40.00000,  100.00000,   10.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 17, 'HTTP_TRANSFER_FDTT_UL_MDR_P10',                      'Drive',     'City',                           0.50000,      2.50000,   15.00000,   17.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 18, 'HTTP_TRANSFER_FDTT_UL_MDR_AVG',                      'Drive',     'City',                           0.50000,   20.00000,   50.00000,   10.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 19, 'HTTP_BROWSING_SUCCESS_RATIO',                               'Drive',     'City',                           0.80000,      0.97500,     1.00000,   75.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 20, 'VIDEO_STREAM_SUCCESS_RATIO',                                'Drive',     'City',                           0.80000,      0.97500,     1.00000,   40.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 21, 'VIDEO_STREAM_VMOS_AVG',                                     'Drive',     'City',                           2.50000,      3.40000,     4.20000,     5.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 22, 'VIDEO_STREAM_TTFP_AVG',                                     'Drive',     'City',                           7.00000,      1.50000,     0.50000,     2.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 23, 'VIDEO_STREAM_TTFP_BIGGER_10_s_RATIO',                'Drive',     'City',                           0.05000,      0.00500,     0.00000,     2.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 24, 'VIDEO_STREAM_IRRITATING_EXPIRIENCE_RATIO',           'Drive',     'City',                           0.10000,      0.05000,     0.00000,   15.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 25, 'FACEBOOK_FDFS_UL_SUCCESS_RATIO',                     'Drive',     'City',                           0.80000,      0.97500,     1.00000,   30.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 26, 'FACEBOOK_FDFS_UL_TRANSFER_TIME_AVG',                 'Drive',     'City',                       15.00000,    6.00000,      4.00000,   15.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  1, 'CLASSIC_CALL_SETUP_SUCCESS_RATIO',                          'Drive',     'Connecting Roads',       0.85000,      0.97500,     1.00000,   12.18750
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  2, 'CLASSIC_DROPPED_CALL_RATIO',                                'Drive',     'Connecting Roads',       0.10000,      0.02000,     0.00000,   14.62500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  3, 'CLASSIC_AVG_CALL_SETUP_TIME',                               'Drive',     'Connecting Roads',12.00000,    6.00000,     4.00000,     4.05000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  4, 'CLASSIC_CALL_SETUP_TIME_BIGGER_15_s_RATIO',    'Drive',     'Connecting Roads', 0.03000,       0.00600,      0.00000,     3.26250
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  5, 'WHATSUP_CALL_SETUP_SUCCESS_RATIO',                          'Drive',     'Connecting Roads',       0.85000,      0.97500,     1.00000,     2.81250
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  6, 'WHATSUP_DROPPED_CALL_RATIO',                                'Drive',     'Connecting Roads',       0.10000,      0.02000,     0.00000,     3.37500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  7, 'WHATSUP_AVG_CALL_SETUP_TIME',                               'Drive',     'Connecting Roads',15.00000,    9.00000,     7.00000,     0.90000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  8, 'WHATSUP_CALL_SETUP_TIME_BIGGER_15_s_RATIO',    'Drive',     'Connecting Roads', 0.03000,       0.00600,      0.00000,     0.78750
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  9, 'CLASSIC_POLQA_SMALLER_1.6_RATIO',                           'Drive',     'Connecting Roads',       0.10000,      0.01000,     0.00000,     2.62500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 10, 'CLASSIC_POLQA_AVG_MOS',                                     'Drive',     'Connecting Roads',       2.00000,      3.80000,     4.50000,     2.25000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 11, 'WHATSUP_POLQA_SMALLER_1.6_RATIO',                           'Drive',     'Connecting Roads',       0.10000,      0.01000,     0.00000,     0.60000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 12, 'WHATSUP_POLQA_AVG_MOS',                                     'Drive',     'Connecting Roads',       2.00000,      3.80000,     4.50000,     0.52500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 13, 'HTTP_TRANSFER_FDFS_DL_SUCCESS_RATIO',                'Drive',     'Connecting Roads', 0.80000,       0.97500,      1.00000,     6.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 14, 'HTTP_TRANSFER_FDFS_UL_SUCCESS_RATIO',                'Drive',     'Connecting Roads', 0.80000,       0.97500,      1.00000,     6.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 15, 'HTTP_TRANSFER_FDTT_DL_MDR_P10',                      'Drive',     'Connecting Roads', 2.00000,       5.00000,   30.00000, 5.25000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 16, 'HTTP_TRANSFER_FDTT_DL_MDR_AVG',                      'Drive',     'Connecting Roads', 2.00000,   40.00000,  100.00000,      3.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 17, 'HTTP_TRANSFER_FDTT_UL_MDR_P10',                      'Drive',     'Connecting Roads', 0.50000,       2.50000,   15.00000, 5.25000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 18, 'HTTP_TRANSFER_FDTT_UL_MDR_AVG',                      'Drive',     'Connecting Roads', 0.50000,   20.00000,   50.00000,      3.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 19, 'HTTP_BROWSING_SUCCESS_RATIO',                               'Drive',     'Connecting Roads',       0.80000,      0.97500,     1.00000,   22.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 20, 'VIDEO_STREAM_SUCCESS_RATIO',                                'Drive',     'Connecting Roads',       0.80000,      0.97500,     1.00000,   12.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 21, 'VIDEO_STREAM_VMOS_AVG',                                     'Drive',     'Connecting Roads',       2.50000,      3.40000,     4.20000,     1.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 22, 'VIDEO_STREAM_TTFP_AVG',                                     'Drive',     'Connecting Roads',       7.00000,      1.50000,     0.50000,     0.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 23, 'VIDEO_STREAM_TTFP_BIGGER_10_s_RATIO',                'Drive',     'Connecting Roads', 0.05000,       0.00500,      0.00000,     0.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 24, 'VIDEO_STREAM_IRRITATING_EXPIRIENCE_RATIO',     'Drive',     'Connecting Roads', 0.10000,       0.05000,      0.00000,     4.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 25, 'FACEBOOK_FDFS_UL_SUCCESS_RATIO',                     'Drive',     'Connecting Roads', 0.80000,       0.97500,      1.00000,     9.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 26, 'FACEBOOK_FDFS_UL_TRANSFER_TIME_AVG',                 'Drive',     'Connecting Roads',15.00000,       6.00000,      4.00000,     4.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  1, 'CLASSIC_CALL_SETUP_SUCCESS_RATIO',                          'Walk',             'City',                          0.85000,      0.97500,     1.00000,   20.31250
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  2, 'CLASSIC_DROPPED_CALL_RATIO',                                'Walk',             'City',                          0.10000,      0.02000,     0.00000,   24.37500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  3, 'CLASSIC_AVG_CALL_SETUP_TIME',                               'Walk',             'City',                       12.00000,  6.00000,     4.00000,     6.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  4, 'CLASSIC_CALL_SETUP_TIME_BIGGER_15_s_RATIO',    'Walk',            'City',                           0.03000,      0.00600,     0.00000,     5.43750
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  5, 'WHATSUP_CALL_SETUP_SUCCESS_RATIO',                          'Walk',             'City',                          0.85000,      0.97500,     1.00000,      4.68750
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  6, 'WHATSUP_DROPPED_CALL_RATIO',                                'Walk',             'City',                          0.10000,      0.02000,     0.00000,      5.62500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  7, 'WHATSUP_AVG_CALL_SETUP_TIME',                               'Walk',             'City',                       15.00000,  9.00000,     7.00000,     1.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  8, 'WHATSUP_CALL_SETUP_TIME_BIGGER_15_s_RATIO',    'Walk',            'City',                           0.03000,      0.00600,     0.00000,     1.31250
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  9, 'CLASSIC_POLQA_SMALLER_1.6_RATIO',                           'Walk',             'City',                          0.10000,      0.01000,     0.00000,      4.37500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 10, 'CLASSIC_POLQA_AVG_MOS',                                     'Walk',             'City',                          2.00000,      3.80000,     4.50000,      3.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 11, 'WHATSUP_POLQA_SMALLER_1.6_RATIO',                           'Walk',             'City',                          0.10000,      0.01000,     0.00000,      1.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 12, 'WHATSUP_POLQA_AVG_MOS',                                     'Walk',             'City',                          2.00000,      3.80000,     4.50000,      0.87500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 13, 'HTTP_TRANSFER_FDFS_DL_SUCCESS_RATIO',                'Walk',             'City',                           0.80000,      0.97500,     1.00000,   10.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 14, 'HTTP_TRANSFER_FDFS_UL_SUCCESS_RATIO',                'Walk',             'City',                           0.80000,      0.97500,     1.00000,   10.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 15, 'HTTP_TRANSFER_FDTT_DL_MDR_P10',                      'Walk',             'City',                           2.00000,      5.00000,   30.00000, 8.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 16, 'HTTP_TRANSFER_FDTT_DL_MDR_AVG',                      'Walk',             'City',                           2.00000,   40.00000,  100.00000,  5.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 17, 'HTTP_TRANSFER_FDTT_UL_MDR_P10',                      'Walk',             'City',                           0.50000,      2.50000,   15.00000, 8.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 18, 'HTTP_TRANSFER_FDTT_UL_MDR_AVG',                      'Walk',             'City',                           0.50000,   20.00000,   50.00000,  5.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 19, 'HTTP_BROWSING_SUCCESS_RATIO',                               'Walk',             'City',                          0.80000,      0.97500,     1.00000,   37.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 20, 'VIDEO_STREAM_SUCCESS_RATIO',                                'Walk',             'City',                          0.80000,      0.97500,     1.00000,   20.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 21, 'VIDEO_STREAM_VMOS_AVG',                                     'Walk',             'City',                          2.50000,      3.40000,     4.20000,      2.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 22, 'VIDEO_STREAM_TTFP_AVG',                                     'Walk',             'City',                          7.00000,      1.50000,     0.50000,      1.25000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 23, 'VIDEO_STREAM_TTFP_BIGGER_10_s_RATIO',                'Walk',             'City',                           0.05000,      0.00500,     0.00000,     1.25000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 24, 'VIDEO_STREAM_IRRITATING_EXPIRIENCE_RATIO',     'Walk',            'City',                           0.10000,      0.05000,     0.00000,     7.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 25, 'FACEBOOK_FDFS_UL_SUCCESS_RATIO',                     'Walk',             'City',                           0.80000,      0.97500,     1.00000,   15.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 26, 'FACEBOOK_FDFS_UL_TRANSFER_TIME_AVG',                 'Walk',             'City',                       15.00000,    6.00000,      4.00000,     7.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  1, 'CLASSIC_CALL_SETUP_SUCCESS_RATIO',                          'Walk',             'Train Route',             0.70000,      0.95000,     1.00000,     8.12500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  2, 'CLASSIC_DROPPED_CALL_RATIO',                                'Walk',             'Train Route',             0.15000,      0.03000,     0.00000,     9.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  3, 'CLASSIC_AVG_CALL_SETUP_TIME',                               'Walk',             'Train Route',         12.00000,    6.00000,      4.00000,     2.70000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  4, 'CLASSIC_CALL_SETUP_TIME_BIGGER_15_s_RATIO',    'Walk',            'Train Route',             0.10000,      0.02000,     0.00000,     2.17500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  5, 'WHATSUP_CALL_SETUP_SUCCESS_RATIO',                          'Walk',             'Train Route',             0.70000,      0.95000,     1.00000,     1.87500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  6, 'WHATSUP_DROPPED_CALL_RATIO',                                'Walk',             'Train Route',             0.15000,      0.03000,     0.00000,     2.25000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  7, 'WHATSUP_AVG_CALL_SETUP_TIME',                               'Walk',             'Train Route',         15.00000,    9.00000,      4.00000,     0.60000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  8, 'WHATSUP_CALL_SETUP_TIME_BIGGER_15_s_RATIO',    'Walk',            'Train Route',             0.10000,      0.02000,     0.00000,     0.52500
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT  9, 'CLASSIC_POLQA_SMALLER_1.6_RATIO',                           'Walk',             'Train Route',             0.10000,      0.01000,     0.00000,     1.75000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 10, 'CLASSIC_POLQA_AVG_MOS',                                     'Walk',             'Train Route',             2.00000,      3.80000,     4.50000,     1.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 11, 'WHATSUP_POLQA_SMALLER_1.6_RATIO',                           'Walk',             'Train Route',             0.10000,      0.01000,     0.00000,     0.40000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 12, 'WHATSUP_POLQA_AVG_MOS',                                     'Walk',             'Train Route',             2.00000,      3.80000,     4.50000,     0.35000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 13, 'HTTP_TRANSFER_FDFS_DL_SUCCESS_RATIO',                'Walk',             'Train Route',             0.50000,      0.95000,     1.00000,     4.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 14, 'HTTP_TRANSFER_FDFS_UL_SUCCESS_RATIO',                'Walk',             'Train Route',             0.50000,      0.95000,     1.00000,     4.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 15, 'HTTP_TRANSFER_FDTT_DL_MDR_P10',                      'Walk',             'Train Route',             0.50000,      2.50000,   15.00000, 3.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 16, 'HTTP_TRANSFER_FDTT_DL_MDR_AVG',                      'Walk',             'Train Route',             2.00000,   20.00000,   50.00000,  2.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 17, 'HTTP_TRANSFER_FDTT_UL_MDR_P10',                      'Walk',             'Train Route',             0.50000,      1.25000,     7.50000,     3.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 18, 'HTTP_TRANSFER_FDTT_UL_MDR_AVG',                      'Walk',             'Train Route',             1.00000,   10.00000,   25.00000,  2.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 19, 'HTTP_BROWSING_SUCCESS_RATIO',                               'Walk',             'Train Route',             0.50000,      0.95000,     1.00000,   15.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 20, 'VIDEO_STREAM_SUCCESS_RATIO',                                'Walk',             'Train Route',             0.50000,      0.95000,     1.00000,     8.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 21, 'VIDEO_STREAM_VMOS_AVG',                                     'Walk',             'Train Route',             2.50000,      3.40000,     4.20000,     1.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 22, 'VIDEO_STREAM_TTFP_AVG',                                     'Walk',             'Train Route',             7.00000,      1.50000,     0.50000,     0.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 23, 'VIDEO_STREAM_TTFP_BIGGER_10_s_RATIO',                'Walk',             'Train Route',             0.15000,      0.01500,     0.00000,     0.50000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 24, 'VIDEO_STREAM_IRRITATING_EXPIRIENCE_RATIO',     'Walk',            'Train Route',             0.25000,      0.10000,     0.00000,     3.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 25, 'FACEBOOK_FDFS_UL_SUCCESS_RATIO',                     'Walk',             'Train Route',             0.50000,      0.95000,     1.00000,     6.00000
INSERT INTO  RANKING_PARAMS_2019 (prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX) SELECT 26, 'FACEBOOK_FDFS_UL_TRANSFER_TIME_AVG',                 'Walk',             'Train Route',         15.00000,    6.00000,      4.00000,     3.00000


-- SELECT * RANKING_PARAMS_2019
-- SELECT prim_key,KPI_NAME,G_LEVEL_1,G_LEVEL_2,THRESHOLD_MIN,THRESHOLD_MED,THRESHOLD_HGH,RANKING_MAX FROM RANKING_PARAMS_2019